:root {
  --color-dark: rgb(35, 37, 44);
  --color-darker: #101015;
  --color-light: #fbfbfb;
  --main-gradient: linear-gradient(to right bottom, #ff1884, rgb(252, 81, 1));
  --main-transition: all 0.3s ease-in-out;
}

html.dark {
  background: #121212;
}

body {
  font-family: 'Quicksand', sans-serif;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background-image: var(--main-gradient);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

#canvas {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
.canvas-container {
  position: absolute;
  /* width: 100% !important;
  height: 0 !important;
  padding-bottom: 100%; */
  top: 0;
  right: 0;
  left: 0;
  width: 100% !important;
}
.upper-canvas {
  width: 100% !important;
  height: 100% !important;
}
